.searchBar {
  width: 50%;
  position: relative;
  display: flex;
}

.search {
  width: 100%;
  border: 3px solid #ffffff;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.btn {
  cursor: pointer;
}
